body {
	.container {
		display: flex;
		flex-flow: row wrap;
	}
	.overlay {
		nvm-overlay {
			background-color: red;
			color: white;
			border: 1px solid rgba(255, 0, 0, 0.39);
			padding: 10px;
		}
		&.scroller {
			height: 100px;
			width: 33%;
			overflow-y: scroll;
			border: 1px solid rgba(255, 0, 0, 0.39);
		}
	}
	.autocomplete {
		padding: 10px;
		box-sizing: border-box;
		display: flex;
		flex-flow: row wrap;
		&__1,
		&__2,
		&__3,
		&__4,
		&__5,
		&__6 {
			width: 200px;
		}
	}
}
